[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
tensorboard = "*"
numpy = "*"
matplotlib = "*"
scipy = "*"
torchsummary = "*"
tqdm = "*"
pytest = "*"
librosa = "*"
mutagen = "*"
torchaudio = "*"
pandas = "*"
coloredlogs = "*"
plotly = "*"
flask = "*"

[dev-packages]
pylint = "*"
isort = "*"
librosa = "*"

[requires]
python_version = "3.9"
